<div id="searchBar">
    <input
        [(ngModel)]="nameQuery"
        placeholder="filter by name..."
        type="text"
        name="searchBar">
    <input type="checkbox" [checked]="!male" (change)="male = !male"  ng-checked>M
    <input type="checkbox" [checked]="!female" (change)="female = !female">F
</div>

<div class="searchResults">
    <div class="userProfile" *ngFor="let user of getUsers(nameQuery, male, female)">
        <img class="userImage" src={{user.iconUrl}}>
        <div class="userInfo">
            <p>{{user.getName()}}</p>
            <p>{{user.getLocation()}}</p>
            <p>{{user.getAge() + " years old, " + user.gender}}</p>
        </div>
    </div>
</div>